.new__Blog {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}

.new__Blog h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.new__Blog .field {
  border: 1px solid #333;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 1rem;
}

.new__blog-form form {
  padding: 3rem;
}

.new__blog-form .item textarea {
  font-family: inherit;
  resize: none;
}

.new__blog-form .item textarea::placeholder {
  font-size: inherit;
}

.new__blog-form .submit-btn {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.form .image__upload-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 769px) {
  .new__Blog {
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .new__Blog {
    width: 90%;
  }
  .new__blog-form form {
    padding: 1.5rem;
  }
}
