.blog {
  padding: 50px 0;
  width: 100%;
}

.container {
  width: 98%;
  margin: auto;
}

.blog .boxItems {
  transition: 0.5s;
  height: auto;
  position: relative;
}

.blog .boxItems:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  cursor: pointer;
  transform: translateY(-5px);
}

.grid3 {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 32%);
  gap: 30px 30px;
}

.blog img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog .icon {
  margin-right: 10px;
  font-size: 20px;
}

.blog .tag a {
  color: blue;
  opacity: 0.7;
}
.blog .tag {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.blog h3 {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.blog p {
  font-weight: 400;
  color: #999;
  margin: 15px 0 24px;
  font-size: 15px;
  line-height: 25px;
}

.blog .date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.blog .date div {
  display: flex;
  align-items: center;
}

.blog .date div .icon {
  font-size: 1.5em;
  color: #333;
}

/* reponsive */

/* for tablets */
@media screen and (max-width: 769px) {
  .grid3 {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 48%);
    gap: 30px 30px;
  }
}

/* for mobile */
@media screen and (max-width: 482px) {
  .grid3 {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, 95%);
    gap: 30px 30px;
  }
}

@media screen and (max-width: 915px) and (min-width: 769px) {
  .blog .date {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 650px) and (min-width: 482px) {
  .blog .date {
    transform: scale(0.8);
  }
}
